body {
    margin: 0;
    overflow: hidden;
    cursor: none; /* Oculta el cursor predeterminado */
    background-color: white;
    color: black;
}
  
  body.dark-mode {
    background-color: rgb(72, 72, 72);
    color: white;
  }

.cursor {

    width: 10vh;
    height: 10vh ;
    background: rgba(255, 255, 255, 0.0);
    background-clip: border-box;
    border: 2px solid #ffffff; /* Borde negro */
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%); /* Centra el cursor en el punto del cursor */
    z-index: 999; /* Asegura que el cursor esté sobre otros elementos */
    backdrop-filter: invert(100%)
}

  







