[submodule "DiseñoInterfacesWeb/sass"]
	path = DiseñoInterfacesWeb/sass
	url = https://www.github.com/sellsword9/sass
[submodule "DevEntCliente/ExamenTienda"]
	path = DevEntCliente/ExamenTienda
	url = https://github.com/Sellsword9/JS-PracticaExamen-Tienda
[submodule "DevEntServidor/PracticaTienda"]
	path = DevEntServidor/PracticaTienda
	url = https://github.com/sellsword9/dwes4
[submodule "php-pokemonmanager"]
	path = php-pokemonmanager
	url = https://www.github.com/sellsword9/php-pokemonmanager
[submodule "DevEntServidor/pokemon"]
	path = DevEntServidor/pokemon
	url = https://www.github.com/sellsword9/php-pokemonmanager
