:root /* Variables */
{
  --WBB: #131313; /* White button background */
  --WBT: white; /* White button text */
  --BH: #a04545; /* Button hover */
  --BBB: #a09e9e; /* Black button background */
  --BBT: dodgerblue; /* Black button text */
}
/*/ Sizes & General /*/
.container 
{
  width: 80%;
  margin: 0 auto;
  padding: 20px;

}
textarea 
{
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}
button 
{
  border: none;
  cursor: pointer;
  height: 50px;
  width: 75px;
}
button:hover 
{
  background-color: var(--BH) !important;
}

/*/ White mode /*/

button /* White mode button & General sizes */
{
  background-color: var(--WBB);
  color: var(--WBT);
}


/*/ Dark mode /*/

body.dark-mode > * > button /* Dark mode button */
{ 
  background-color: var(--BBB);
  color: var(--BBT)
}
body.dark-mode > * > textarea, 
body.dark-mode > * > input 
{ /* Dark mode textarea & input */
  background-color: #1a1a1a;
  color: wheat;
}
body /*White area body*/
{
  background-color: white;
  color: black;
}
body.dark-mode  /* Dark mode body */
{
  background-color: black;
  color: white;
}